<!DOCTYPE html>
<html lang="en">
  <head>
    <title> {% block title %} Untitled | Cheeserate {% endblock %} </title>
    {% load static %}
    <link href="{% static 'cheeserate/styles.css' %}" rel="stylesheet"/>
  </head>
  <body class="text-neutral-300 bg-zinc-900">

    <header class="bg-zinc-950">
      {% include "cheeserate/navbar.html" %}
    </header>
    <main>
      {% if messages %}
      <div id="messages" class="max-w-4xl m-auto p-2 border">
	{% for message in messages %}
	<div class="alert alert-{{message.tags}}">
	  {{message}}
	</div>
	{% endfor %}
      </div>
      {% endif %}
      {% block content %}{% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </body>
</html>
