<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

<div id="page-wrapper"
     class="grid grid-cols-8 gap-8 max-w-4xl m-auto p-4">
  <div id="profile-col" class="col-span-3">
    {% if crew.headshot_url %}
    <figure class="w-full">
      <img src="https://{{crew.headshot_url}}"
	   class="
		  w-full rounded-md
		  shadow-md
		  ">
    </figure>
    {% endif %}

    <section id="crew-details">
      <h1 class="text-3xl text-center">
	{{crew.name}}
      </h1>

      <p class="text-center">
	{% if crew.birth %}
	<span>{{ crew.birth }}</span>
	{% endif %}
	{% if crew.death %}
	<span> - {{ crew.death }}</span>
	{% endif %}
      </p>

      {% if crew.biography %}
      <p id="biography" class="text-justify">
	{{crew.biography}}
      </p>
      {% endif %}
    </section>
  </div>

  <div id="discography-col" class="col-span-5">

    <div class="max-w-4xl m-auto px-4">
      {% if directing %}
      <section id="starring-list">
	<h2 class="text-2xl">
	  Films directed by {{crew.name}}
	</h2>
	<p>
	  {{directing|safe}}
	</p>
      </section>
      {% endif %}

      {% if starring %}
      <section id="starring-list">
	<h2 class="text-2xl">
	  Films starring {{crew.name}}
	</h2>
	<p>
	  {{starring|safe}}
	</p>
      </section>
      {% endif %}
    </div>

  </div>
</div>
