{% extends "cheeserate/base.html" %}

{% block title %} {{film.title}} | Cheeserate films {% endblock %}

{% block content %}

<div id="page-wrapper"
     class="grid grid-cols-8 gap-8 max-w-6xl m-auto px-4">
  <div id="details-col" class="col-span-3">
    {% if film.poster_url %}
    <figure class="w-full">
      <img src="https://{{film.poster_url}}"
	   class="
		  w-full rounded-md
		  shadow-md
		  ">
    </figure>
    {% endif %}
    <section id="item-details">
      <h1 class="text-3xl text-center underline text-orange-50">
	{{film.title}}
      </h1>

      {% if film.year %}
      <span>{{ film.year }}</span>
      {% endif %}
      {% if directors %}
      <span id="directors-list">
	Directed by {{directors|safe}}
      </span>
      {% endif %}

      {% if film.overview %}
      <p id="overview" class="text-justify">
	{{film.overview}}
      </p>
      {% endif %}
    </section>
  </div>

  <div id="crew-col" class="col-span-5">
    {% if casts %}
    <section id="casts">
      <h2 class="text-2xl">
	Starring
      </h2>
      <div id="casts-list"
	   class="grid lg:grid-cols-5 grid-cols-3 gap-1">
	{{casts|safe}}
      </div>
    </section>
    {% endif %}
  </div>
</div>

{% endblock %}
