<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

<div id="page-wrapper"
     class="grid grid-cols-8 gap-8 max-w-4xl m-auto">
  <div id="poster-col" class="col-span-3">
    {% if film.poster_url %}
    <figure class="w-full">
      <img src="https://{{film.poster_url}}"
	   class="
		  w-full rounded-md
		  shadow-md
		  ">
    </figure>
    {% endif %}
  </div>

  <div id="information-col" class="col-span-5">
    <section id="item-details">
      <h1 class="text-3xl">
	{{film.title}}
      </h1>

      {% if film.year %}
      <span>{{ film.year }}</span>
      {% endif %}
      {% if directors %}
      <span id="directors-list">
	Directed by {{directors|safe}}
      </span>
      {% endif %}

      {% if film.overview %}
      <p id="overview">
	{{film.overview}}
      </p>
      {% endif %}
    </section>

    {% if casts %}
    <section id="cast-list">
      <h2 class="text-2xl">
	Starring
      </h2>
      <p>
	{{casts|safe}}
      </p>
      </section>
    </section>
    {% endif %}
  </div>
</div>
